    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background: black;
        background-image: url(../img/bg-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Myriad Pro";
        padding-bottom: 3em;
    }
    
    hr {
        max-width: 30%;
        margin: 10px auto;
        background-color: white;
    }
    
    .mainImg {
        max-width: 50%;
        display: block;
        margin: 50px auto 20px auto;
    }
    
    .title {
        color: aquamarine;
        padding-bottom: 30px;
        text-align: center;
    }
    
    #list a {
        color: #45ebd3;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }

    #list a:visited {
        color: #2d9484;
    }
    
    #list a:hover {
        color: #2d9484;
    }
    
    .col1,
    .col2 {
        display: flex;
        flex-direction: column;
        /* padding: 3em; */
    }
    
    
    @media screen and (min-width:780px) {
        #list a {
            font-size: 2rem;
        }
        .col1,
        .col2 {
            padding: 3em;
        }
        body {
            background-image: url(../img/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0;
        }
        #list {
            display: flex;
            justify-content: center;
        }
        #list a {
            font-size: 2rem;
        }
    }