@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    width: 85vw;
    height: 70vh;
    background: #45ebd3;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    max-width: 300px;
    max-height: 300px;
}

.hidden h1{
    font-size: 1rem;
}
.hidden .groupBtn {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.hidden .groupBtn button{
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #fff;
    border-radius: 0.7em;
    border: 1px solid #45ebd3;
    cursor: pointer;
}
.hidden .groupBtn .inactive button{
    background-color: grey;
    cursor:default;
}
.hidden .groupBtn .inactive{
    /* pointer-events: none; */
    opacity: .4;

}

.hidden .closeBtn{
    position: absolute;
    right: 30px;
    top: 10px;
    color: #45ebd3;
    font-weight: bolder;
    background-color: black;
    padding: 0.5em;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}


body {
    background: black;
    background-image: url(./../img/bg-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Lato";
    padding-bottom: 3em;
}

body>hr {
    max-width: 30%;
    margin: 10px auto;
    background-color: white;
}

.mainImg {
    max-width: 70%;
    display: block;
    margin: 50px auto 20px auto;
}

.title {
    color: aquamarine;
    padding-bottom: 30px;
    text-align: center;
}

#list a {
    color: #45ebd3;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

#list a:visited {
    color: #2d9484;
}

#list a:hover {
    color: #ffffff;
}

.col1,
.col2 {
    display: flex;
    flex-direction: column;
    /* padding: 3em; */
}

@media screen and (min-width: 450px) {
    .hidden {
        width: 70vw;
        height: 60vh;
    }
    .hidden{
        align-items: center;
    }
    .hidden .groupBtn {
        flex-direction: row;
        gap: 10px;
    }
}

@media screen and (min-width:780px) {
    .hidden {
        width: 35%;
        height: 250px;
        padding: 0;
    }
    .hidden h1{
        margin-top:3em;
    }

    #list a {
        font-size: 2rem;
    }

    .col1,
    .col2 {
        padding: 3em;
    }

    body {
        background-image: url(./../img/bg.jpg);
        padding: 0;
    }

    #list {
        display: flex;
        justify-content: center;
    }

    #list a {
        font-size: 1rem;
    }

    .mainImg {
        max-width: 20%;
    }


}