/* -------------------------------------------------------------------------- */
/*                             Universal Settings                             */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    background-image: url(./../img/bg-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Lato";
    padding-bottom: 3em;
}

/* -------------------------------------------------------------------------- */
/*                                 Hidden Div                                 */
/* -------------------------------------------------------------------------- */

.hidden {
    width: 85vw;
    height: 70vh;
    background: #bfdfd9;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 4em; */
    max-width: 300px;
    max-height: 300px;
}

.hidden h1 {
    font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                Arrow Buttons                               */
/* -------------------------------------------------------------------------- */

.moveToRight, .moveToLeft {
    font-size: 2em;
    width: 45px;
    border-radius: 2em;
    position: absolute;
    cursor: pointer;
}

.moveToRight:hover, .moveToLeft:hover {
    width: 50px;
}

.moveToRight {
    right: -20px;
}

.moveToLeft {
    left: -20px;
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

.hidden .groupBtn {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.hidden .groupBtn button {
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #fff;
    border-radius: 0.7em;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #262626;
    transition: .7s;
    z-index: 3;
    font-weight: bold;
}

.hidden .groupBtn button:hover {
    color: white;

}

/* Inactive */
.hidden .groupBtn .inactive button {
    background-color: grey;
    cursor: default;
}

.hidden .groupBtn .inactive {
    /* pointer-events: none; */
    opacity: .4;
}

/* Close Button */
.hidden .closeBtn {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #bfdfd9;
    font-weight: bolder;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    /* background-color: #40d6c0; */
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.hidden .closeBtn:hover {
    width: 42px;
    height: 42px;
}

/* -------------------------------------------------------------------------- */
/*                             Transition Effects                             */
/* -------------------------------------------------------------------------- */

.linkedinBtn button:hover:after {
    width: 100%;
    background: #3498db;
}
.linkedinBtn button:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 1.4s ease;
    -webkit-transition: all 1.4s ease;
    z-index: -1;
}
.linkedinBtn button:hover:before {
    left: 0;
}

/*/*/

.githubBtn button:hover:after {
    width: 100%;
    background: #3498db;
}
.githubBtn button:after {
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 1.4s ease;
    -webkit-transition: all 1.4s ease;
    z-index: -1;
}
.githubBtn button:hover:before {
    right: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

body>hr {
    max-width: 30%;
    margin: 10px auto;
    background-color: white;
}

.mainImg {
    max-width: 70%;
    display: block;
    margin: 50px auto 20px auto;
}

.title {
    color: aquamarine;
    padding-bottom: 30px;
    text-align: center;
}

#list a {
    color: #45ebd3;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

#list a:visited {
    color: #2d9484;
}

#list a:hover {
    color: #ffffff;
}

.col1,
.col2 {
    display: flex;
    flex-direction: column;
    /* padding: 3em; */
}

/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 450px) {
    .hidden {
        width: 70vw;
        height: 60vh;
    }

    .hidden {
        align-items: center;
    }

    .hidden .groupBtn {
        flex-direction: row;
        gap: 10px;
    }
}

@media screen and (min-width:780px) {
    .hidden {
        width: 35%;
        height: 250px;
        padding: 0;
    }

    .hidden h1 {
        margin-top: 3em;
    }

    #list a {
        font-size: 2rem;
    }

    .col1,
    .col2 {
        padding: 3em;
    }

    body {
        background-image: url(./../img/bg.jpg);
        padding: 0;
    }

    #list {
        display: flex;
        justify-content: center;
    }

    #list a {
        font-size: 1rem;
    }

    .mainImg {
        max-width: 20%;
    }
}